@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
}
::-webkit-scrollbar{
    display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: rgb(19, 18, 18);
  padding: 20px 30px;
}
.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
  transition: .3s ease-in;
}
.nav-link ul {
  display: inline-flex;
  list-style: none;
  flex-direction: row;
  gap: 25px;
}
.nav-link ul li {
  cursor: pointer;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.navbar-button {
  color: rgb(44, 44, 44);
  margin-left: 35px;
  position: relative;
}
.navbar-button i {
  font-size: 22px;
}
.addedCount {
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: red;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
}
.hamburger-wrapper{
    display: none;
    justify-content: center;
    align-items: center;
}
.hamburger{
  font-size: 22px;
}
.hideSidebar{
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 22px;
  z-index: 100;
  cursor: pointer;
  display: none;
}
@media (width<600px) {
  .nav-link{
    position: absolute;
    right: 0;
    width: 250px;
    transform: translateX(100%);
    padding: 30px 15px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: white;
    z-index: 100;
    height: 100%;
  }
  .nav-link ul{
    flex-direction: column;
    gap:15px;
  }
  .hamburger-wrapper{
    display: flex;
  }
  .navbar-button{
    margin-left: 0;
    margin-top: 15px;
  }
  .hideSidebar{
    display: block;
  }
  
}
.productSearch-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 30px;
}
.input-wrapper {
  border: 1px solid rgb(23, 23, 23, 0.3);
  padding: 5px 15px;
}
input {
  outline: none;
  border: none;
  min-width:min-content;
}
h1 {
  font-size: 28px;
  font-weight: 600;
}
.productList {
  display: flex;
  padding: 0 20px;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.productItem{
    width: 100%;
    max-width: 450px;
    position: relative;
    box-shadow: 0 0 10px 1px rgb(12, 12, 12, .6);
    padding: 20px 10px;
    cursor: pointer;
}
.productItem img{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor:pointer;
}
.productItem img:hover{
    animation: animateImage .5s linear;
}
@keyframes animateImage{
    0%{    
        visibility: hidden;  
        opacity: 0;
    }
    100%{      
        visibility: visible;
        opacity: 1;
    }
}

@media (width>700px){
    .productItem{
        width: 47%;
    }
}
@media (width>950px){
    .productItem{
        width: 32%;
    }
}
@media (width>400px){
    .productItem img{
        height: 225px;
}
}
.likedIndicator{
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 20px;
}
.productItem h2{
  font-size: 20px;
  font-weight: 600;
  color: rgb(50, 50, 50);
}
.productItem p{
  margin-top: 5px;
  font-weight: 400;
  color: rgb(59, 58, 58);
  font-size: 14px;
}
