*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#root{
    max-width: 1350px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    background:conic-gradient(from 180deg, #000000, #434343, #000000);
;
}
.main-container{
    position: relative;
    width: 100%;
}
.container{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    scroll-snap-type:x mandatory;
}
::-webkit-scrollbar{
    width: 0;
}
.previous-btn,
.next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    border-radius: 100%;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    padding: 4px 12px;
}
.previous-btn{
    left: -20px;
}
.next-btn{
    right: -20px;
}
